
            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." id="search-input">
                        <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button" onclick="searchBoard();">Go!</button>
                        </span>
                    </div>
                </div>
            </div>

            <script>
                function searchBoard(){
                    let searchValue = document.getElementById('search-input').value.trim();
                    if (searchValue.length > 1){
                        location.href="/board/qna/search/" + searchValue + "/";
                    }
                    else{
                        alert('검색어('+ searchValue +')가 너무 짧습니다.');
                    }
                };

                document.getElementById('search-input').addEventListener('keyup', function(event){
                    if(event.key === 'Enter'){
                        searchBoard();
                    }
                });
            </script>

            <!-- Categories Widget -->
            <div class="card" id="category-card">
                <ul class="list-group list-group-flush">
                    <li id="category-free-board"
                        class="list-group-item "
                        style="cursor:pointer"
                        onclick="location.href='/board/qna/'">
                        Q&A
                    </li>
                </ul>
            </div>
