{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}
    Create Item - Shop
{% endblock %}

{% block main_area %}
    <h1 class="mt-3">Create New Post</h1>
    <hr>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

            {{form | crispy}}
            <div id="div_id_tags_str">
                <label for="id_tags">Tags:</label>
                <input type="text" id="id_tags" name="tags_str"
                    class="textinput textInput form-control">
            </div>

        <button type="submit" class="btn btn-primary float-right mt-2 mb-2">Submit</button>
    </form>
    {{form.media}}
{% endblock %}